<div class="ui-gap">
    <div class="ui-block-item">
        <ng-container *ngFor="let item of listItems">
            <div class="ui-item">
                <div class="ui-image" [style.backgroundImage]="'url('+item?.image+')'"></div>
                <div class="ui-block-text">
                    <h3>{{item?.name}}</h3>
                    <div class="ui-more-info">
                        <div class="ui-small-section">
                            <span>{{item?.price}} ETH</span>
                            <span><i class="uil uil-eye"></i></span>
                        </div>
                        <div class="ui-small-section">
                            <div class="ui-small-section">
                                <img class="ui-author" src="https://media-exp1.licdn.com/dms/image/C4E03AQGqhulkmjwwVw/profile-displayphoto-shrink_800_800/0/1635435224551?e=1666828800&v=beta&t=SRi3vxINx06jWuQ48CHbhrSFymw3M_iZZ46_yD3nfs0" alt="">
                                <span>Angel Gonzalez</span>
                            </div>
                            <span><i class="uil uil-star"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        
    </div>
</div>